@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;

   
}
.landing{
    background-color: #FAF9F6;
    font-weight: 400;
    font-style: normal;
}

.img-slider {
    position: relative;
    width: 90%; 
    margin: 30px auto; 
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
}

.img {
    width: 700px; 
    height: 500px; 
    border-radius: 10px;
    margin: 20px;

}

.title {
    text-align: center;
    padding: 20px;
    background-color: #F0EBE3;
    border-radius: 10px;
    font-weight: 400;
    width: 500px;
    height: fit-content;
    position: relative;
    left: 7%;
}

.next-btn{
    width: 30px;
    border-radius: 10px;
    margin-top: -50px; 
    position: absolute;
    top: 70%;
    left: 92%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}
.prev-btn {
    border-radius: 10px;
    margin-top: -50px; 
    position: absolute;
    top: 70%;
    left: 3%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}


span {
    color: #416D19;
    font-weight: 800;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    .img-slider {
        width: 100%; 
        margin: 15px auto; 
    }

    .title {
        padding: 10px;
    }

    .prev-btn, .next-btn {
        font-size: 14px;
        padding: 8px;
    }
}
