/* Start Globle Featers */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box  ;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    --border-color:#0000002e;
  }
  body{
    margin:0;
    padding:0; 
    font-family: "Cairo", sans-serif;
    background-image:url('../images/login-bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-repeat:no-repeat ;
    z-index: -1;
    /* overflow: hidden; */
  }
  @media (max-width:767px){
    .continer{
        width:70%;
        margin:0 auto;
    }
  }
  @media (min-width:768px){
    .continer{
        width:70%;
        margin:0 auto;
    }
  }
  @media (min-width:992px){
    .continer{
        width:80%;
        margin:0 auto;
    }
  }
  /* End Globle Featers  */

  /* Start content */
  .content{
    max-width: 500px;
   max-height:100vh;
    background-color: #eed2a7cc;
    position: relative;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -41%);
  
}

  .content .continer{
      padding: 5px;
      padding-top: 19px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
  }
  .content .continer h2{
  font-size: 33px;
  color: white;
  margin-bottom: 0;
}
  
  .content .continer p{
      color: white;
      letter-spacing: 2px;
    }
    
  .content .continer .pefect-par{
    margin-top: 0;
    position: relative;
  }
  .content .continer .pefect-par::before,
  .content .continer .pefect-par::after{
    content: "";
    position: absolute;
    top: 9px;
    width: 56px;
    height: 1px;
    background-color: #eee;
  }
  .content .continer .pefect-par::before{
    left: -60px;
  }
  .content .continer .pefect-par::after{
    right: -60px;
  }
    .content .continer form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 13px;
  }
  .content .continer  form  div{
    display: flex;
    flex-direction: column;
    gap:2px;
  }
  .content .continer form input {
    height: 38px;
    border-radius: 9px;
    border: 0;
    border: 1px solid #e0b886d9;
  }
  .content .continer form button[type="submit"]{
  background-color: #e0b786;
  color: white;
  font-size: 19px;
  border: 1px solid #e0b786;
  }
  .content .continer form button[type="submit"]:hover{
      opacity: 0.7;
}
  .content .continer form input:focus{
    
    outline: none;
  }
  .content .continer form  label{
    color: white;
      font-size: 20px;
    }
    .content .continer .rest-par{
      margin-bottom:30px;
      font-weight: 400;
    }
    .content .continer .rest-par a{
  
      text-decoration: underline;
      color:white;
    }
     .content .continer p.home{
      position: absolute;
      bottom: -5px;
     }
     .content .continer .redpara{
      color:red;
    }
  /* End content */

  /* Start footer */

  /* End footer */