/* Start Globle Featers */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box  ;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    --border-color:#0000002e;
  }
  body{
    margin:0;
    padding:0; 
    font-family: "Cairo", sans-serif;
    background-image:url('../images/signup.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
 
  }
  @media (max-width:767px){
    .continer{
        width:70%;
        margin:0 auto;
    }
  }
  @media (min-width:768px){
    .continer{
        width:70%;
        margin:0 auto;
    }
  }
  @media (min-width:992px){
    .continer{
        width:80%;
        margin:0 auto;
    }
  }
  /* End Globle Featers  */
    /* Start Full page */

    
      /* End Full page */
 /* Start Header */
 ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(26, 26, 25);
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-list li a:hover {
  color: #ebe1cb;
  text-decoration: none;
  transform: translateX(10px);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 5px 5px 12px 0px #eeeeee;
      background-color: #fffffffc;
      z-index: 1;
      overflow: hidden;
      height: 90px;;
      position: fixed;
      top:0;
      left:0;
      width:100%;
}

.menu-list {
  display: flex;
  gap: 30px;
}
.button{
  padding: 9px 25px;
  background-color: #eeeeee;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
button:hover{
  background-color: white;
}
@media (max-width:768px){
nav{
  flex-direction: column;
  align-items: center;
}
}

nav  img.logo{
max-width: 100px;
cursor: pointer;
}
/* End Header */
  
  /* Start content */
  .content{
    margin-top:100px;
    max-width:500px;
    max-height: fit-content;
    background-color:  #eed2a7cc;
    position: relative;
    border-radius: 12px;;
    top:50%;
    left:50%;
    transform: translate(-50%,0);
  }
  .content .continer{
      padding: 5px;
      padding-top: 19px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
  }
  .content .continer h2{
  font-size: 33px;
  color: white;
  margin-bottom: 0;}
  
  .content .continer p{
      color: white;
      letter-spacing: 2px;
    }
    

    .content .continer form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 13px;
  }
  .content .continer form div{
    display: flex;
    flex-direction: column;
    gap:2px;
  }
  .content .continer form input {
    height: 38px;
    border-radius: 9px;
    border: 0;
    border: 1px solid #e0b886d9;
  }
  .content .continer form button[type="submit"]{
  background-color: #e0b786;
  color: white;
  font-size: 19px;
  border: 1px solid #e0b786;
  }
  .content .continer form button[type="submit"]:hover{
      opacity: 0.7;
} 
 .content .continer form select{
    height: 38px;
    border-radius: 9px;
    border: 0;
    border: 1px solid #e0b886d9;
    font-size:16px;
  }
  .content .continer form input:focus{
    
    outline: none;
  }
  .content .continer form select:focus{
    outline: none;
  }
  .content .continer form  label{
    color: white;
      font-size: 20px;
    }
    .content .continer .rest-par{
      margin-bottom:30px;
      font-weight: 400;
    }
    .content .continer .rest-par a{
      text-decoration: underline;
      color:black;
    }
    .content .continer .redpara{
    color:red;
  }
  /* End content */