@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.wrapper {
  max-width: 60%;
  margin: auto;
  border-radius: 8px;

  
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
  color: #416D19;

}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: #416D19;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
 border-radius: 8px;
}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: #BFEA7C;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  overflow: hidden;
  background-color: #fafafa;
  display: none;
  border-radius: 8px;
  
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
    border: .5px solid #416D19;
border-radius: 8px;
margin: 10px 0;

}
.faq.active {
  border: none;
}

