@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #FAF9F6;
}

.amman-img-container {
    position: relative;
    width: 100%;
    height: 600px; 
    border-radius: 3px;
    overflow: hidden;
}

.amman-img {
    width: 100%;
    height: 100%;
    object-fit: cover center ;
}

.img-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 24px;
}

.hotel-container {
    display: grid; 
    margin: 20px;
    padding: 20px;
    grid-template-columns:repeat(3,300px) ;
    gap: 20px;
    justify-content: center;
    margin-top: 100px;
}

.hotel-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    justify-content: center;
   
}

.hotel-card img {
    width: 100%; 
    height: 180px; 
    border-radius: 10px;
}

.hotel-card h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.hotel-card p {
    margin: 10px 0;
    font-size: 1rem;
}

.hotel-card a {
    display: block;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.hotel-card button{
    margin-top: 10px;
    width: 90px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color:#416D19 ;
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.hotel-card button:hover{
    background-color: #BFEA7C;
   }

   #cityFilter{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    align-self: center;
    position: absolute;
    top: 85%;
    left: 42%;
}
#cityFilter option {
padding: 5px;    
}
#cityFilter option:checked {
    background-color: #416D19; 
    color: #fff; 

}
#cityFilter option:hover {
    background-color: #BFEA7C; 
    
}