@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #FAF9F6;
}

.restaurant-container {
    display: grid; 
    margin: 20px;
    padding: 20px;
    grid-template-columns: repeat(3,310px); 
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
}

.restaurant-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    justify-content: center;
}

.restaurant-card img {
    width: 100%; 
    height: 180px; 
    border-radius: 10px;
}

.restaurant-card h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.restaurant-card p {
    margin: 10px 0;
    font-size: 1rem;
}

.restaurant-card a {
    display: block;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.restaurant-card button {
    margin-top: 10px;
    width: 75px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color:#416D19 ;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.restaurant-card button:hover {
    background-color: #BFEA7C;
}

#categoryFilter {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    align-self: center;
    position: absolute;
    top: 98%;
    left: 50%; 
    transform: translateX(-50%); 
}

#categoryFilter option {
    padding: 5px;    
}

#categoryFilter option:checked {
    background-color: #416D19; 
    color: #fff; 
}

#categoryFilter option:hover {
    background-color: #BFEA7C; 
}

.food-img-container {
    position: relative;
    width: 100%;
    height: 600px; 
    border-radius: 3px;
    overflow: hidden;
}

.food-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .restaurant-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }
}
