@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.text {
  margin: 20px;
}

.text p {
  font-size: 23px;
}

.text h1 {
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
}

.container {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.text-container {
  margin: 30px 0;
  text-align: center;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 9%;
}

.image-container {
  position: relative;
  margin: 4px;

}

.image-container img {
  border-radius: 5px;
  display: block;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay .text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .overlay {
  opacity: 1;
}

.btnn {
  display: block;
  padding: 10px;
  font-size: 18px;
  background-color: #416D19;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  left: 11.5%;
  bottom: 50px;
}

.btn:hover {
  background-color: #BFEA7C;
}

a {
  text-decoration: none;
}
